<plugin name='jsf2' version='0.1' grailsVersion='1.2.0 &gt; *'>
  <author>Stephane MALDINI</author>
  <authorEmail>smaldini@doc4web.com</authorEmail>
  <title>JSF 2</title>
  <description>\
h1. JSF-2 integration
* Bean By convention (no need for faces-config)
* Bean access to controller parameters (session,request,params...)
* Beans dynamic methods for navigation redirect(action?,bean?,view?,uri?,url?) and render(action?,view?,bean?),
* Automatic bean and service properties resolution
* 'void init()' called at bean initialization if present
* 'void dispose()' called at bean destruction if present
* JSF Extended request scope ('view')
* Access to web.xml configuration via Jsf2Config.groovy
* Access to faces-config generated in web-app/faces-config.xml
* Converters for Locale, Closure, Currency, Timezone
* i18n ready, fast access with #{m['key']}
* create-bean script
* Hibernate session managed from view rendering to view response
* Execute groovy code in EL expression ( #{gtag.groov[' def i = 2; 3.times{ i++ }; i; ']} )
* Support JSF2 Components - @ManagedBean ...

h2. Extra methods for beans :
* Support tagLibraries methods
* Support controllers properties
* redirect(action?,bean?,view?,uri?,url?),
* render(action?,view?,bean?)
* facesMessage(summary?, details?, severity?)

</description>
  <documentation>http://grails.org/plugin/jsf2</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>DefaultJsf2Config</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
      <resolver type='mavenRepo' root='http://repository.jboss.com/maven2/' name='http://repository.jboss.com/maven2/' m2compatbile='true' />
    </resolvers>
    <dependency group='org.hibernate' name='hibernate-core' version='3.3.1.GA' conf='provided' transitive='true' />
    <dependency group='javax.faces' name='jsf-api' version='2.0.2-FCS' conf='compile' transitive='true' />
    <dependency group='javax.servlet' name='jstl' version='1.2' conf='compile' transitive='true' />
    <dependency group='javax.faces' name='jsf-impl' version='2.0.2-FCS' conf='compile' transitive='true' />
    <dependency group='javax.servlet' name='servlet-api' version='2.5' conf='runtime' transitive='true' />
  </dependencies>
  <behavior />
</plugin>